<div class="container">
        <div class="row">
          <div class="col-md-8 mt-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  Create a new Reservation
                </div>
                <div class="form-group">
                  <span>Name of Conference</span>
                  <input type="text" [(ngModel)]="selectedReserve.nameReservation" placeholder="Insert a Name" class=form-control>
                  <span>Start Date</span>
                  <input type="datetime-local" [(ngModel)]="selectedReserve.init" placeholder="Insert a Name" class=form-control>
                  <span>Finish Date</span>
                  <input type="datetime-local" [(ngModel)]="selectedReserve.finish" placeholder="Insert a Name" class=form-control>
                  <span>Room</span>
                  <select class="form-control" [(ngModel)]="selectedReserve.room">
                      <option value="">Select one room</option>
                      <option *ngFor="let room of rooms" value="{{room.name}}">{{room.name}}</option>     
                  </select>
                  <span>Invited</span>
                  <div style="display: flex">
                    <input type="email" placeholder="Insert a Name" [(ngModel)]="mail" class=form-control>
                    <button class="btn btn-primary"(click)="addGuest()">Add</button>
                  </div>
                  <button (click)=addNewReservation() class="btn btn-primary" style="margin-top: 10px">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="verInvitados" class="col-md-4 mt-4">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-action">Guests:</li>
                  <li *ngFor="let guest of selectedReserve.invite" class="list-group-item list-group-item-action">
                  <label>
                    {{guest}}
                  </label>
                </li>
                </ul>
              </div>
        </div>
</div>
