<nav class="navbar navbar-dark navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/">
    Conference Booking Room
  </a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="newReservation">Create new reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewReservation">View reservation</a>
        </li>
      </ul>
  </div>
</nav>
<section class="content">
    <router-outlet></router-outlet>
</section>